WorkFlow/Bull.PRES.Poderes.ServiceWF/Service References/SReferencePoderes/Poderes2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bps.gub.uy/Prestaciones/Poderes/" elementFormDefault="qualified" targetNamespace="http://bps.gub.uy/Prestaciones/Poderes/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bulldesa11:8500/Poderes.Facades?xsd=xsd2" namespace="http://bps.gub.uy/Prestaciones/wsPoderes/v001" />
  <xs:element name="ObtTienePoder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://bps.gub.uy/Prestaciones/wsPoderes/v001" minOccurs="0" name="paramObtTienePoder" nillable="true" type="q1:ParamObtTienePoder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtTienePoderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://bps.gub.uy/Prestaciones/wsPoderes/v001" minOccurs="0" name="ObtTienePoderResult" nillable="true" type="q2:ResultObtTienePoder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>