WorkFlow/Bull.PRES.Poderes.ServiceWF/Service References/SReferencePoderes/Poderes3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Bull.ApplicationFramework.WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Bull.ApplicationFramework.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContextoWS">
    <xs:sequence>
      <xs:element name="codAgencia" type="xs:int" />
      <xs:element name="codRol" type="xs:int" />
      <xs:element name="codSistemaCliente" type="xs:int" />
      <xs:element name="debug" type="xs:int" />
      <xs:element name="fechaOpera" type="xs:dateTime" />
      <xs:element name="nroSesion" type="xs:int" />
      <xs:element name="usuarioActual" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContextoWS" nillable="true" type="tns:ContextoWS" />
</xs:schema>