ServiceAgents/SAFuncionarios/Service References/wssFuncionarios/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://bps.gub.uy/Personal/wssFuncionarios/v1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="service" targetNamespace="http://bps.gub.uy/Personal/wssFuncionarios/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_wssFuncionarios_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false">
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <schema targetNamespace="http://bps.gub.uy/Personal/wssFuncionarios/v1/Imports" xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="https://bulldesabts01:442/Externos/GRP/wssFuncionarios?xsd=xsd0" namespace="http://bps.gub.uy/Personal/wssFuncionarios/v1" />
    </schema>
  </wsdl:types>
  <wsdl:message name="IVirtualInterface_version_InputMessage">
    <wsdl:part name="version" element="tns:version" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_version_OutputMessage">
    <wsdl:part name="ResultVersion" element="tns:ResultVersion" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_obtenerEgresadosPeriodo_InputMessage">
    <wsdl:part name="obtenerEgresadosPeriodo" element="tns:obtenerEgresadosPeriodo" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_obtenerEgresadosPeriodo_OutputMessage">
    <wsdl:part name="ResultObtenerEgresadosPeriodo" element="tns:ResultObtenerEgresadosPeriodo" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_obtenerFuncionarios_InputMessage">
    <wsdl:part name="obtenerFuncionarios" element="tns:obtenerFuncionarios" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_obtenerFuncionarios_OutputMessage">
    <wsdl:part name="ResultObtenerFuncionarios" element="tns:ResultObtenerFuncionarios" />
  </wsdl:message>
  <wsdl:portType name="IVirtualInterface">
    <wsdl:operation name="version">
      <wsdl:input wsaw:Action="version" message="tns:IVirtualInterface_version_InputMessage" />
      <wsdl:output wsaw:Action="versionResponse" message="tns:IVirtualInterface_version_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerEgresadosPeriodo">
      <wsdl:input wsaw:Action="obtenerEgresadosPeriodo" message="tns:IVirtualInterface_obtenerEgresadosPeriodo_InputMessage" />
      <wsdl:output wsaw:Action="obtenerEgresadosPeriodoResponse" message="tns:IVirtualInterface_obtenerEgresadosPeriodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerFuncionarios">
      <wsdl:input wsaw:Action="obtenerFuncionarios" message="tns:IVirtualInterface_obtenerFuncionarios_InputMessage" />
      <wsdl:output wsaw:Action="obtenerFuncionariosResponse" message="tns:IVirtualInterface_obtenerFuncionarios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_wssFuncionarios" type="tns:IVirtualInterface">
    <wsp:PolicyReference URI="#BasicHttpBinding_wssFuncionarios_policy">
    </wsp:PolicyReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="version">
      <soap:operation soapAction="version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerEgresadosPeriodo">
      <soap:operation soapAction="obtenerEgresadosPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerFuncionarios">
      <soap:operation soapAction="obtenerFuncionarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="BasicHttpBinding_wssFuncionarios" binding="tns:BasicHttpBinding_wssFuncionarios">
      <soap:address location="https://bulldesabts01:442/Externos/GRP/wssFuncionarios" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>